<% if @orders["orders"].count > 0 %>
  <table>
    <tr>
      <th>ID</th>
      <th>Folder</th>
      <th>Payment</th>
      <th>Total</th>
    </tr>
  <% @orders["orders"].each do |order| %>
    <tr>
      <td>
        <a target="_blank" href="https://app.orderdesk.me/order/<%= order['id'] %>">#<%= order['id'] %></a>
      </td>
      <td>
        <%= order['folder_id'] %>
      </td>
      <td>
        <%= order['payment_status'] %>
      </td>
      <td>
        <%= order['order_total'] %>
      </td>
    </tr>

  <% end %>
  </table>
<% else %>
  No orders was found
<% end %>
<script src="https://app.firmafon.dk/api/iframe.js" type="text/javascript"></script>

<script type="text/javascript">
   FF.updateHeight();
</script>
